# Python Cache & Artefacts
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environments
.env
.venv
env/
venv/
ENV/

# Editor/IDE specific files
.vscode/
.idea/
*.swp
.DS_Store

# database of admin
/instance/


# Bỏ qua các file log
*.log

# Bỏ qua các file cấu hình môi trường cục bộ
.env.*.local
.env.local